.layout-fixed .main-sidebar {
    background: #000;
}
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light {
    margin: 0;
}
td.process img {
    max-width: 100%;
}
.col-12.col-md-9.process img {
    max-width: 50%;
}
td.actionbuttom {
    display: flex;
}
button.btn.btn-primary.make-btn.action {
    padding: 6px 20px;
}